[submodule "Ayyudha/dependencies/spdlog"]
	path = Ayyudha/dependencies/spdlog
	url = git@github.com:Bopannaa/spdlog.git
[submodule "Ayyudha/dependencies/glfw"]
	path = Ayyudha/dependencies/glfw
	url = git@github.com:Bopannaa/glfw.git
[submodule "Ayyudha/dependencies/glad"]
	path = Ayyudha/dependencies/glad
	url = git@github.com:Bopannaa/glad.git
[submodule "Ayyudha/dependencies/imgui"]
	path = Ayyudha/dependencies/imgui
	url = git@github.com:Bopannaa/imgui.git
